<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style/styles.css">
    <script src="scripts/code.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <header class="header">
        <h1 class="heading-truYum">truYum</h1>
        <img src="Images/fork-knife.png" alt="forandKnife" class="forkImg">
        <a href="menu-item-list-customer.html" class="menu-button">Menu</a>
        <a href="cart.html" class="cart-button">Cart</a>
    </header>
    <div class="body">
        <h1 class="body-text-heading">Menu Items</h1>
        <label for="addedSuccessfully" class="cust-notif-subheading">Item added to Cart successfully</label>
        <div id="cust-notif-result"></div>
    </div>
    <footer class="footer"><label class="copyright">Copyright © 2020</label></footer>
</body>
</html>